<%= render 'shared/header' %>

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <div class="d-flex justify-content-between align-items-end border-bottom pb-2 mb-0 ugly-animation">
    <h6 class="mb-0">Posts</h6>
    <%= link_to "Back", v4_posts_path, class: 'btn btn-sm btn-secondary', data: {turbo_action: 'replace'} %>
  </div>

  <turbo-frame id="new_post">
    <div class="d-flex text-muted pt-3 ugly-animation">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="<%= @current_user.color %>"/></svg>

      <%= form_with(url: v4_posts_path, method: :post, class: 'w-100', data: {turbo_action: 'replace'}) do |form| %>
        <strong class="d-block pb-2 mb-0 small lh-sm text-gray-dark">@<%= @current_user.username %></strong>

        <span class="d-block pb-2 mb-0 text-danger fw-bold"><%= @post&.errors&.messages&.dig(:base)&.join %></span>

        <div class="form-group mb-2">
          <%= form.text_field :text, class: 'form-control', placeholder: 'Tell me your thoughts!', value: @post&.text %>
          <small class="form-text text-danger"><%= @post&.errors&.messages&.dig(:text)&.join %></small>
        </div>

        <%= form.submit(class: 'btn btn-success') { 'Save!' } %>
        <%= link_to "Cancel", v4_posts_path, class: 'btn btn-secondary', data: {turbo_action: 'replace'} %>
      <% end %>
    </div>
  </turbo-frame>
</div>
